/* importação de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --rosa: #D02A72;
}
/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Nunito", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f1f6fc31;
}
/* end Estilos gerais */

/* classes reutilizavéis */
section, footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color: #0000009c;
}
.container{
   max-width: 1400px;
   margin: 0 auto; 
   padding: 0 5%;
}
.btn{
    background-color: var(--rosa);
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.btn.animate-btn{
    animation: animate-outline 1.5s ease-out infinite;
}
.btn:hover{
    background-color: var(--rosa);
}
@keyframes animate-outline{
    from{
        outline: 0px solid var(--rosa);
    }
    to{
        outline: 15px solid #d02a7218;
    }
}
/* end  classes reutilizáveis */

/* classes do site */
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: #FFFFFF;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: var(--rosa);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
.logo{
    width: 90%;
    image-resolution: auto;
}
/*end classes do site*/
/* menu mobile */
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}
/*end menu mobile*/

/* banner */
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 250px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: #FFFFFF;
}
.banner .banner-text p{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: lighter;
    margin: 18px 0;
}

/*end banner*/

/* faca-mais e seguro*/
.faca-mais .container,
.seguro .container{
    display: flex;
    align-items: center;
}
.faca-mais .faca-mais-text,
.seguro .seguro-text{
    width: 50%;
    padding: 0 40px;
}
.faca-mais .faca-mais-text h3,
.seguro .seguro-text h3{
    font-size: 56px;
}
.faca-mais .faca-mais-text p,
.seguro .seguro-text p{
    margin: 5px 0 25px 0;
}
.faca-mais .faca-mais-img,
.seguro .seguro-img{
    width: 50%;
}
.faca-mais .faca-mais-img img,
.seguro .seguro-img img{
    width: 100%;
}
/* end faca-mais */
/* depoimentos */
.depoimentos h3{
    text-align: center;
}
.depoimentos p{
 margin-bottom: 20px;
 text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.depoimentos .card-item{
    background-color:#421f5444;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    transition: 0.3s;
}
.depoimentos .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}
.depoimentos .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}
.depoimentos .cards .card-item .empresa-user{
    font-weight: 900;
    font-size: 15px;
    margin-top: -4%;
    margin-bottom: 15px;
    transition: 0.3s;
}
.depoimentos .card-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    flex-grow: 1;
    transition: 0.3s;
}
.depoimentos .card-item .estrelas{
    margin-top: auto;
    border-top: 2px solid #73717a23;
    padding-top: 15px;
    transition: 0.3s;
}
.depoimentos .card-item .estrelas i{
    color: #421f54;
    font-size: 20px;
}
.depoimentos .card-item:hover{
    background-color: #421f54;
    margin-top: -5px;
}
.depoimentos .card-item:hover .nome-user, 
.depoimentos .card-item:hover .empresa-user, 
.depoimentos .card-item:hover .depoimento-user, 
.depoimentos .card-item:hover .estrelas i
{
    color: #FFFFFF;
}
/* end depoimentos*/

/* Clientes */
.clientes .container {
    background-color: #421f54;
    padding: 40px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.clientes h3,
.clientes p {
    color: #FFFFFF;
    text-align: center;
}
.clientes .container .clientes-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-top: 2%;
}
.clientes .container .clientes-img img {
    width: 150px;
    height: auto; 
    margin: 10px;
}
.clientes .container .clientes-img .logo {
    width: 150px; 
    height: auto;
    margin: 10px;
    filter: brightness(0) invert(1) grayscale(1); 
    transition: filter 0.3s ease;
}
.clientes .container .clientes-img .logo:hover {
    filter: brightness(100%) invert(0) grayscale(0); 
}
/* end clientes */

/* footers*/
.footer-img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.footer-img img{
    width: 100%;
    display: block;
}
.footer{
    margin: 0;
    padding: 20px 0;
    background-color: #160a28;
}
.footer .container {
    text-align: center; 
}
.footer .links a {
    font-size: 22px;
    padding: 10px;
    margin: 3px; 
    color: #fff; 
}
.footer .links a:hover {
    color: var(--rosa);
}
.footer p {
    color: #fff;
    margin-top: 10px;
}
/* end footers */
/* Página sobre */
.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre .sobre-text{
    width: 50%;
    padding-right: 40px;
}
.sobre .sobre-text p,
.sobre .sobre-text ul
{
    margin: 18px 0;
    color: #000000a6;
}
.sobre .sobre-img{
    width: 50%;
}
.sobre .sobre-img img{
    width: 100%;
}
/* end Página sobre */

/* Página serviço */
.servicos h3{
    text-align: center;
}
.servicos .container > p{
    text-align: center;
}
.servicos .rows-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.servicos .rows-card-item{
    background-color: #cbc2d0;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px; 
    transition: 0.3s;
}
.servicos .rows-card-item:hover{
    background-color: #421f54;
}
.servicos .rows-card-item:hover p{
    color: #fff;
}
.servicos .rows-card-item img{
    background-color: #421f54;
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}
.servicos .rows-card-item p.nome-servico{
    margin: 5px 0;
    transition: 0.3s;
}
.servicos .rows-card-item p.descricao-servico{
    transition: 0.3s;
}
/* end Página serviço*/

/* dados */
.dados{
    background-color: #cbc2d0;
}
.dados .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: #0000009c;
}
.dados .dados-item img{
    background-color: #421f54;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}
.dados .dados-item p{
    font-size: 18px;
}
.dados .dados-item p strong{
    font-size: 28px;
}
/* end dados */

/* contato */
.contato .mapa{
    margin-top: 10%;
}
.contato .contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.contato-info .contato-dados{
    width: 50%;
    padding: 30px;
    background-color: #421f54;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}
.contato-info .contato-dados div{
   display: flex;
   align-items: center;
   margin-bottom: 10px; 
}
.contato-info .contato-dados div i{
    font-size: 24px;
    margin-right: 20px;
    color: #fff;
}
.contato-info .contato-dados p{
    font-size: 17px;
    color: #fff;
}
.contato-info .contato-form{
    width: 50%;
}
.contato-info .contato-form input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid #f1f1f1;
    color: #212121;
    font-weight: lighter;
}
.contato-info .contato-form input:focus,
.contato-info .contato-form textarea:focus{
    border-color: var(--rosa);
    
}
.contato-info .contato-form textarea{
    border: 1px solid #f1f1f1;
    color: #212121;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}
.contato-info .contato-form button{
    border: none;
}


/* end contato */

/* Responsivo */
@media(max-width: 830px){
    /* menu mobile */
    nav .menu-icon{
        display: block;
    }
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1f0022;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 1.0s;
    }
    .ul.open{
        clip-path: circle(141.2% at 100% 0);
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }

    /* Página home responsivo */
    .faca-mais .faca-mais-text,
    .seguro .seguro-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
        text-align: center;
    }
    .faca-mais .container,
    .seguro .container{
        flex-direction: column;
    }
    .faca-mais .faca-mais-text h3,
    .seguro .seguro-text h3{
        font-size: 48px;
    }
    .faca-mais .faca-mais-text,
    .faca-mais .faca-mais-img,
    .seguro .seguro-text,
    .seguro .seguro-img{
        width: 100%;
    }

    /* banner responsivo */
    .banner .banner-text{
        padding: 0;
        margin: 80px;
    }
    .banner .banner-text h1{
        font-size: 80px;
    }
    .banner .banner-text p{
        font-size: 20px;
    }

    /* depoimentos responsivo */
    .depoimentos .card-item{
        width: 100%;
    }
    .depoimentos .cards .card-item .empresa-user{
        margin-top: -4%;
    }

    /* Pagina sobre responsivo */
    .sobre .container{
        flex-direction: column-reverse;
    }
    .sobre .sobre-img,
    .sobre .sobre-text{
        width: 100%;
    }
    .sobre .sobre-text{
        margin-top: 40px;
        text-align: center;
    }
    .sobre .sobre-text li{
        margin-left: 5%;
        text-align: left;
    }

    /* Pagina contato responsivo */
    .contato .contato-info{
        flex-direction: column-reverse;
    }
    .contato .contato-dados,
    .contato .contato-form{
        width: 100%;
    }
    .contato-info .contato-form{
        margin-bottom: 50px;
    }
    .contato .contato-form .btn{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}
@media(max-width: 500px){
    .banner .banner-text h1{
        font-size: 50px;
    }
    .faca-mais .faca-mais-text h3{
        font-size: 40px;
    }
}